
.button{
    border: 1px solid skyblue;
    background-color: rgba(0,0,0,0);
    color: skyblue;
    padding: 5px;
    text-align: center;
}
.button:hover{
    color:white;
    background-color: skyblue;
}