<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <script src="/js/home/register.js" defer></script>
  <link rel="stylesheet" href="/css/home/register.css">

  <title>SIGN UP</title>
</head>
<body>
  <div class="signup-page">
    <div class="form">
      <form class="signup-form" > 
        <input type="text" id="id" placeholder="아이디"/>
        <input type="text" id="name" placeholder="이름"/>
        <input type="password" id="psword" placeholder="비밀번호"/>
        <input type="password" id="confirm-psword" placeholder="비밀번호 확인"/>
        <p id="register">register</p>
        <p class="message">Already registered? <a href="/login">login</a></p>
      </form>
    </div>
  </div>
</body>
</html>